body, html {
  background-color: white;
  background: url(../img/mainBg.jpg) 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: white;
  overflow-x: hidden;
  min-width: 320px; }

.main-header {
  padding-top: 60px; }

.headerContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logoContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .logoContainer__hr {
    width: 1px;
    height: 67px;
    background-color: white;
    margin: 0 30px 0 30px; }

.linkContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .linkContainer__a {
    color: white;
    padding: 5px; }
    .linkContainer__a:hover {
      color: white; }

.main {
  margin-top: 200px; }

.hr {
  display: none;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  width: 100%; }

.content-padding {
  padding-left: 122px; }

.ulBlock {
  display: block;
  margin: 0;
  padding: 0; }
  .ulBlock .li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    margin: 0 20px 20px 0; }
    .ulBlock .li a {
      padding: 20px;
      color: white;
      font-size: 1.4em;
      display: block;
      font-weight: 600;
      -webkit-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
      .ulBlock .li a:hover {
        text-decoration: none;
        background-color: white;
        color: #666; }
    .ulBlock .li:last-child {
      margin-bottom: 0; }
  .ulBlock .button {
    margin-bottom: 20px;
    margin-right: 20px; }

.hidden-content {
  display: none !important; }

.form-container {
  margin: 0 auto; }

form[name="feedback"] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em; }
  form[name="feedback"] input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: solid white 1px;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    color: white;
    font-size: 1em;
    padding: 10px;
    font-weight: 500; }
    form[name="feedback"] input:focus {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: solid white 1px;
      -webkit-border-radius: 0px;
              border-radius: 0px;
      -webkit-box-shadow: none;
              box-shadow: none;
      color: white; }
    form[name="feedback"] input::-webkit-input-placeholder {
      color: #e5e5e5; }
    form[name="feedback"] input::-moz-placeholder {
      color: #e5e5e5; }
    form[name="feedback"] input:-ms-input-placeholder {
      color: #e5e5e5; }
    form[name="feedback"] input::-ms-input-placeholder {
      color: #e5e5e5; }
    form[name="feedback"] input::placeholder {
      color: #e5e5e5; }
    form[name="feedback"] input[type="submit"] {
      border: 1px solid white;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px;
      font-size: 0.85em;
      font-weight: bold;
      color: white;
      -webkit-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
      form[name="feedback"] input[type="submit"]:hover {
        color: #666;
        background-color: white;
        border: 1px solid white; }
  form[name="feedback"] textarea {
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #555;
    font-size: 1.05em;
    resize: none;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    font-weight: 500; }
    form[name="feedback"] textarea:focus {
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      color: #555; }
    form[name="feedback"] textarea::-webkit-input-placeholder {
      color: #929292; }
    form[name="feedback"] textarea::-moz-placeholder {
      color: #929292; }
    form[name="feedback"] textarea:-ms-input-placeholder {
      color: #929292; }
    form[name="feedback"] textarea::-ms-input-placeholder {
      color: #929292; }
    form[name="feedback"] textarea::placeholder {
      color: #929292; }

.main-footer {
  margin-top: 20px; }

.min-logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.min-logo {
  display: none; }

.contacts {
  text-align: left; }

.tel__a {
  color: white; }
  .tel__a:focus {
    color: white; }
  .tel__a:hover {
    color: white; }

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #0c317f;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer; }
  .button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0; }
  .button:focus, .button:hover {
    text-decoration: none;
    color: #fff;
    outline: none; }
  .button:hover {
    background-color: #0c317f, 5%; }
    .button:hover::after {
      opacity: .22; }
  .button:active {
    background-color: #0a2868; }
    .button:active::after {
      opacity: .32; }

.mrg-btm-40 {
  margin-bottom: 40px; }

.no-padding {
  padding: 0; }

body, html {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

@media (max-width: 575px) {
  .main-header {
    padding-top: 10px !important; }
  .logoContainer {
    margin-bottom: 5px !important; }
  .logoContainer__h {
    font-size: 2.3em; }
  .ulBlock {
    font-size: 0.75em; }
  .main {
    margin-top: 10px !important; }
  .contacts {
    text-align: center; } }

@media (max-width: 767px) {
  .logoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .logoContainer__h {
    width: 100%; }
  .logoContainer__logo {
    display: none; }
  .logoContainer__hr {
    display: none; }
  .linkContainer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: flex-center !important;
    -webkit-justify-content: flex-center !important;
        -ms-flex-pack: flex-center !important;
            justify-content: flex-center !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100%; }
  .linkContainer__a {
    width: 100%;
    text-align: center; }
  body .main {
    margin-top: 60px; }
  .content-padding {
    padding-left: 0; }
  .ulBlock {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: flex-center;
    -webkit-justify-content: flex-center;
        -ms-flex-pack: flex-center;
            justify-content: flex-center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .ulBlock .li {
    margin-right: 0; }
  .hr {
    display: block; }
  .min-logo {
    display: block;
    margin: 0; } }

@media (max-width: 991px) {
  .main-header {
    padding-top: 30px; }
  .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .logoContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .linkContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .linkContainer__a {
    margin-right: 10px; }
  .logoContainer__h {
    text-align: center; }
  .main {
    margin-top: 120px; } }
