@import "_varSass.sass"

body, html
	background-color: white
	background: url(../img/mainBg.jpg) 100% 100% no-repeat
	background-size: cover
	color: white
	overflow-x: hidden
	min-width: 320px
.main-header
	padding-top: 60px
.headerContent
	display: flex
	flex-direction: row
	justify-content: space-between
.logoContainer
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	flex-wrap: nowrap
	align-content: center
	&__logo
	&__hr
		width: 1px
		height: 67px
		background-color: white
		margin: 0 30px 0 30px
	&__h
.linkContainer
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	flex-wrap: nowrap
	align-content: center
	&__a
		color: white
		padding: 5px
		&:hover
			color: white
.main
	margin-top: 200px
.hr
	display: none
	border: 0
	height: 1px
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
	width: 100%

.content-padding
	padding-left: 122px
.ulBlock
	display: block
	margin: 0
	padding: 0
	& .li
		list-style: none
		display: inline-block
		padding: 0
		margin: 0
		border: 1px solid white
		margin: 0 20px 20px 0
		& a
			padding: 20px
			color: white
			font-size: 1.4em
			display: block
			font-weight: 600
			transition: 0.25s
			&:hover
				text-decoration: none
				background-color: white
				color: #666
		&:last-child
			margin-bottom: 0

	.button
		margin-bottom: 20px
		margin-right: 20px

.hidden-content
	display: none !important
.form-container
	margin: 0 auto

form[name="feedback"]
	justify-content: center
	align-items: center
	font-size: 1.2em
	& input
		background-color: rgba(255, 255, 255, 0)
		border: none
		border-bottom: solid white 1px
		border-radius: 0px
		color: white
		font-size: 1em
		padding: 10px
		font-weight: 500
		&:focus
			background-color: rgba(255, 255, 255, 0)
			border: none
			border-bottom: solid white 1px
			border-radius: 0px
			box-shadow: none
			color: white
		&::placeholder
			color: #e5e5e5
		&[type="submit"]
			border: 1px solid white
			cursor: pointer
			text-transform: uppercase
			letter-spacing: 2px
			padding: 15px
			font-size: 0.85em
			font-weight: bold
			color: white
			transition: 0.25s
			&:hover
				color: #666
				background-color: white
				border: 1px solid white
	& textarea
		border-radius: 0
		background-color: rgba(255, 255, 255, 0.7)
		border: none
		color: #555
		font-size: 1.05em
		resize: none
		padding: 10px
		margin-bottom: 30px
		background-color: rgba(255, 255, 255, 0.6)
		transition: 0.25s
		font-weight: 500
		&:focus
			background-color: rgba(255, 255, 255, 0.8)
			box-shadow: none
			border: none
			color: #555
		&::placeholder
			color: #929292

.main-footer
	margin-top: 20px

.min-logo-container
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	margin-bottom: 20px
.min-logo
	display: none
.contacts
	text-align: left
.tel__a
	color: white
	
	&:focus
		color: white
	&:hover
		color: white

// ----- default Sass Style ----- //
// button
.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $blue
	padding: 15px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($blue, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
		outline: none
	&:hover
		background-color: ($blue, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($blue, 5%)
		&::after
			opacity: .32

.mrg-btm-40
	margin-bottom: 40px
.no-padding
	padding: 0

// footer down
body, html
	height: 100%
.wrapper
	display: flex
	flex-direction: column
	height: 100%
.content
	flex: 1 0 auto
.footer
	flex: 0 0 auto

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px)
	.main-header
		padding-top: 10px !important
	.logoContainer
		margin-bottom: 5px !important
	.logoContainer__h
		font-size: 2.3em
	.ulBlock
		font-size: 0.75em
	.main
		margin-top: 10px !important
	.contacts
		text-align: center
// Medium devices (tablets, 768px and up)
@media (max-width: 767px)
	.logoContainer
		flex-direction: column
		justify-content: flex-start
		align-items: center
		width: 100%
	.logoContainer__h
		width: 100%
	.logoContainer__logo
		display: none
	.logoContainer__hr
		display: none
	.linkContainer
		flex-direction: column !important
		justify-content: flex-center !important
		align-items: center !important
		width: 100%
	.linkContainer__a
		width: 100%
		text-align: center
	body .main
		margin-top: 60px
	.content-padding
		padding-left: 0	
	.ulBlock
		text-align: center
		display: flex
		flex-direction: column
		justify-content: flex-center
		align-items: center
	.ulBlock .li
		margin-right: 0
	.hr
		display: block
	.min-logo
		display: block
		margin: 0
	
// Large devices (desktops, 992px and up)
@media (max-width: 991px)
	.main-header
		padding-top: 30px
	.headerContent
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
	.logoContainer
		flex-direction: row
		justify-content: flex-start
		align-items: center
		margin-bottom: 20px
	.linkContainer
		flex-direction: row
		justify-content: flex-start
		align-items: flex-start
	.linkContainer__a
		margin-right: 10px
	
	.logoContainer__h
		text-align: center
	.main
		margin-top: 120px

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1199px)
	.logoContainer